
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pinyon+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
@utility container-* {
    padding: --value (--padding-*);
}

.dancing {
    font-family: "Pinyon Script", cursive;
}